body {
  background-image: url("https://image.lexica.art/full_webp/33f4e971-267f-4d63-8658-c42bcae664fc");
  /* object-fit: cover;
    object-position: center; */
  background-position: top right;
  background-attachment: fixed;
  overflow-x: hidden;
}

.navbar {
  background-color: rgb(251, 249, 249);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  /* background-color: white; */
}
.anchorlink {
  color: red !important;
  font-weight: bolder;
}
.registerbtn {
  border: 2px solid #07ff07;
  color: #ff2806;
  font-weight: bolder;
  cursor: pointer;
}
.registerbtn:hover {
  background-color: #07ff07;
  opacity: 0.9;
}
.loginbtn {
  /* outline: #07ff07; */
  border: 2px solid #fbe40a;
  color: #08a808;
  font-weight: bolder;
}
.loginbtn:hover {
  background-color: #fbe40a;
  opacity: 0.9;
}
.gosomewherebtn {
  background-color: #ff2806;
  text-decoration: none;
  color: white;
  padding: 8px;
  font-weight: bold;
}
.btn {
  background-color: #ff2806;
  color: rgb(250, 247, 247);
  font-weight: 500;
  margin: 0px 3px;
}

.btnqty {
  background-color: #ff2806;
  color: black;
  font-weight: 500;
  margin: 0px 3px;
  border-radius: 50%;
}

.card i {
  font-size: 28px;
}
.navbar-brand span {
  margin-left: 7px;
}
.dishesandbtn {
  margin: 6px 0px;
}
table {
  width: 100%;
  /* border: 1px solid; */
}
table tr {
  /* width: 100%; */
  border-bottom: 1px solid rgb(222, 208, 208);
  line-height: 40px;
}

.deleteicon {
  color: white;
}
.socialmediaicons {
  color: #ffffff;
}
.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.restaurants {
  border: 6px solid rgb(41, 182, 9);
  /* width: 28%; */
  width: 68%;
  margin: 12px;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
}
.restaurants:hover {
  background-color: #07ff07;
  cursor: pointer;
}

.restaurants p {
  color: red;
  font-weight: bolder;
  font-size: 29px;
}
.restaurants h5 {
  color: red;
  font-size: 29px;
  font-weight: bolder;
}

.dishes {
  border: 6px solid rgb(41, 182, 9);
  /* width: 28%; */
  width: 68%;
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.dishes:hover {
  background-color: #07ff07;
  cursor: pointer;
}

.dishes p {
  color: red;
  font-weight: bolder;
  font-size: 29px;
}
.dishes h5 {
  color: red;
  font-size: 29px;
  font-weight: bolder;
}

.orders {
  border: 6px solid rgb(41, 182, 9);
  /* width: 28%; */
  width: 68%;
  margin: 12px;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.orders:hover {
  background-color: #07ff07;
  cursor: pointer;
}
.orders p {
  color: red;
  font-weight: bolder;
  font-size: 29px;
}
.orders h5 {
  color: red;
  font-size: 29px;
  font-weight: bolder;
}

.users {
  border: 6px solid rgb(41, 182, 9);
  /* width: 28%; */
  width: 68%;
  margin: 12px;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.users:hover {
  background-color: #07ff07;
  cursor: pointer;
}

.users p {
  color: red;
  font-weight: bolder;
  font-size: 29px;
}
.users h5 {
  color: red;
  font-size: 29px;
  font-weight: bolder;
}

.indeximg {
  height: 160px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* =========restaurant================== */
#selected-logo {
  display: none;
}

.spinnerborder {
  height: 20px;
  width: 20px;
  display: none;
}
.spinnerborders {
  height: 50px;
  width: 50px;
  display: none;
}

.restaurant-logo-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* ===============adddishes================ */
.dishspinner {
  height: 25px;
  width: 25px;
  display: none;
}
.dishimg {
  /* height: 70px;
    width: 70px; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/* ===================dishes================= */
.dishesspinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinnerdishes {
  height: 170px;
  width: 170px;
  display: none;
}
.dishcarts {
  display: none;
}
.qtyofitems {
  background-color: black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translate(-53px, 0px);
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addtocartspinner {
  height: 70px;
  width: 70px;
  display: none;
}

/* =======orders============= */
.spinnerorders {
  height: 170px;
  width: 170px;
  display: none;
}

.thead {
  width: 100% !important;
}

.thead tr {
  width: 100% !important;
}

/* ===========adddishes styling============ */
.tableadddishes {
  /* opacity: 0.8; */
  /* background-color: #ff2806; */
  background: transparent;
  border: none;
}
.tableadddishes tr {
  border: none;
}

.tableadddishes th {
  /* color: rgb(39, 238, 25); */
  /* background-color: rgb(155, 151, 151); */
  font-weight: bolder;
  /* font-size: 27px; */
  font-size: 9px;
  color: #ffffff;
  font-family: sans-serif;
}

.tableadddishes td {
  color: #ffffff;
  font-weight: bolder;
  /* font-size: 23px; */
  font-size: 9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dishtext {
  color: #d00505;
  font-size: 28px;
}

/* ========================restaurants================ */

.restauranttext {
  color: #f40505;
  /* font-size: 28px !important; */
}

#tablerestaurants tr th {
  background: transparent;
  color: #ffffff;
  /* background-color: #08a808; */
  border: none;
  /* font-size: 24px; */
  font-size: 10px;
}
#tablerestaurants tr td {
  background: transparent;
  color: #ffffff;
  border: none;
  /* font-size: 24px; */
  font-size: 10px;
}

#tablerestaurants tr {
  /* background: transparent;
    background-color: #08a808; */
  border: none;
}

/* ====================ordersstylepages============= */
.tableorders tr {
  border: none;
}

.tableorders tr th {
  color: #ffffff;
  /* font-size: 26px; */
  font-size: 7px;
}

.tableorders tr td {
  color: #fdfdfd;
  /* font-size: 21px; */
  font-size: 7px;
}

/* =============modal-content================ */
.modal-content {
  /* background-image: url("https://image.lexica.art/full_webp/33f4e971-267f-4d63-8658-c42bcae664fc");
    background-position: bottom right;
    background-attachment: fixed;
    color: #ffffff; */
  font-weight: bolder;
}

.mbbox {
  color: white !important;
}
.rox {
  color: white !important;
}

/* =================dishes.html==================== */
.rowstyling {
  /* background: none; */
  /* background-image: url("https://image.lexica.art/full_webp/33f4e971-267f-4d63-8658-c42bcae664fc"); */
  /* background-color: #b4e4a8; */
  background-color: rgb(117, 83, 41);
}

.navdishes {
  width: 102%;
}

.ordersbtn {
  font-size: 8px;
}

#viemodal table tr td {
  font-size: 10px;
}

@media (min-width: 768px) {
  .tableadddishes th {
    font-size: 17px;
  }
  .tableadddishes td {
    font-size: 17px;
  }
  .dishimg {
    height: 45px;
    width: 45px;
  }
  #tablerestaurants tr th {
    font-size: 18px;
  }
  #tablerestaurants tr td {
    font-size: 18px;
  }
  .tableorders tr th {
    font-size: 18px;
  }
  .tableorders tr td {
    font-size: 18px;
  }
  .ordersbtn {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .restaurants {
    width: 95%;
  }
  .dishes {
    width: 95%;
  }

  .orders {
    width: 95%;
  }

  .users {
    width: 95%;
  }

  .tableadddishes th {
    font-size: 30px;
  }
  .tableadddishes td {
    font-size: 30px;
  }
  .dishimg {
    height: 70px;
    width: 70px;
  }
  #tablerestaurants tr th {
    font-size: 25px;
  }
  #tablerestaurants tr td {
    font-size: 25px;
  }
  .tableorders tr th {
    font-size: 25px;
  }
  .tableorders tr td {
    font-size: 25px;
  }
  .ordersbtn {
    font-size: 17px;
  }
}
